@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color : #845EC2;
}
body{
    height: 100vh;
    font-size: 22px;
    background:linear-gradient(to right, #845EC2,#2C73D2);
}

.card{
    background-color: #272d40;
    height: 400px;
    width: 350px;
    margin: 20vh auto;
    border-radius: 15px;
    padding: 20px;
    color: white;
    position: relative;
}

.card_heart , .card_cart{
    font-size: 24px;
    position: absolute;
    left: 20px;
    top: 20px;
    cursor: pointer;
    
}
.card_heart:hover{
    color: red;
}
.card_cart:hover{
    color: var(--primary-color);
}
.card_cart{
    left: unset;    
    right: 20px;
}

.card_product_img{
    width: 90%;
    transition: 0.7s;
}

.card_product_img img{
    object-fit: cover;
    width: 100%;    

}
.card_product_name{
    color: var(--primary-color);
}

.card_product_name, .card_product_price{
    font-size: 22px;
    align-items: center; 
    text-align: center;      
    font-weight: bold;
    margin-bottom: 5px;
    transition:0.7s;
}

.card_product_size , .card_product_color{
    margin-bottom: 15px;
}
.card_product_size{
    align-items: center;
}
.card_product_size .size-btn{
    padding: 5px 8px;
    cursor: pointer;
    border : none !important;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 5px;
}
.card_product_size .size-btn:hover{
    background-color: var(--primary-color);
    color: white;
}
.card_product_color{
    display: flex;
    align-items: center;
}
.card_product_color span{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 0 10px;
    cursor : pointer;
}
.card_product_color span:hover{
    opacity: 2;
    border : 0.5px solid black ;
}
.card_product_color .card_color-blue{
    background: blue;
}
.card_product_color .card_color-pink{
    background: pink;
}
.card_product_color .card_color-white{
    background: white;
}
.card_action{

}
.card_action button{
    padding: 10px 20px;
    background-color: var(--primary-color);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}
.card_action button:hover{
    transform: scale(0.95);
    transition: 0.3s;
}

.card:hover .card_product_img{
    /* transform: rotate(-20deg) translateY(-90px);  */
    transform: rotate(8deg) translateY(-80px);  
}

.card:hover .card_product_name{
    transform: translate(-30px,-66px);
}
.card:hover .card_product_price{
    transform: translate(-113px,-66px); 
}


/* Hide the info of product when hover to the card. */
.card_product_size{
    margin-top: 150px;
}
.card_product_info{
    visibility:hidden;
    opacity: 0 ;
    transition: 0.7s;
    transition-delay: 0.2s;
}
.card:hover .card_product_info{
    transform: translateY(-190px);
    visibility: visible;
    opacity: 1;
    
}
